<h1>Adds a new item to the database.</h1>

<p>Lorem ipsum dolor sit amet consectetur, 
    adipisicing elit. Fuga doloribus atque illo perferendis e
    xpedita dolor impedit reprehenderit deleniti 
    ullam excepturi inventore, velit totam asperiores eligendi officia nemo consequatur rem nam.
</p>

<form action="/additem" method="POST">
    
    <input type="text" name="name" placeholder="write item name" >
    <input type="text" name="price" placeholder="write price" >
    <input type="text" name="mac_address" placeholder="write mac_address" >
    <input type="text" name="serial_number" placeholder="write item serial_number" >
    <input type="text" name="manufacturer" placeholder="write manufacturer" >
    <input type="text" name="description" placeholder="write item description" >
    <input type="submit" value="Submit">
    <button>Save</button>

</form>