<h1>Deletes an item using its ID.</h1>

<p>
Lorem ipsum dolor sit amet consectetur, 
adipisicing elit. Fuga doloribus atque illo perferendis e
xpedita dolor impedit reprehenderit deleniti 
ullam excepturi inventore, velit totam asperiores eligendi officia nemo consequatur rem nam.
</p>

<h1>Lista de Productos</h1>
<ul>
    {% for item in inventory_items %}
        <li>
            <strong>Nombre:</strong> {{ item.name }}<br>
            <strong>Precio:</strong> {{ item.price }}<br>
            <strong>MAC Address:</strong> {{ item.mac_address }}<br>
            <strong>Número de Serie:</strong> {{ item.serial_number }}<br>
            <strong>Fabricante:</strong> {{ item.manufacturer }}<br>
            <strong>Descripción:</strong> {{ item.description }}<br>
            <a href="{{ url_for('delete_item', item_id=item.id) }}">Delete</a><br>
        </li><br>
    {% endfor %}
</ul>